{{ "<!-- service single -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            {{ "<!-- sidebar -->" | safeHTML }}
            <aside class="col-lg-4 order-lg-1 order-2">

                {{ "<!-- Opening Hours -->" | safeHTML }}
                <div class="service-image mb-50" style="background-image: url('{{.Params.imageUrl }}')">

                </div>
                {{ if .Params.sideHeadingEnabled }}
                {{ "<!-- Brochure -->" | safeHTML }}
                <a href="{{ .Params.BrochureURL | absURL }}" target="_blank">
                    <div class="rounded border py-3 px-4 mb-50">
                        <i class="d-inline-block mr-1 text-dark ti-files" style="font-size: 20px;"></i>
                        <h4 class="mb-1 d-inline-block"> {{ .Params.sideHeading }}</h4>
                        <a class="font-secondary text-color d-block ml-4" href="{{ .Params.BrochureURL | absURL }}" target="_blank">{{ .Params.sideHeadingSubText }}</a>
                    </div>
                </a>
                {{ end }}
            </aside>
            {{ "<!-- service single content -->" | safeHTML }}
            <div class="col-lg-8 order-lg-2 order-1">
                <div class="post-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /service single -->" | safeHTML }}
